{% extends "base.html" %}
{% load static %}
<!-- Masthead-->
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src={% static "assets/img/avataaars.svg" %} alt="" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">2생활관 커뮤니티</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">오늘의 청소당번을 알려드립니다</p>
        </div>
    </header>
    <section class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                {% if user.is_authenticated %}
                    <h4 class="text-uppercase mb-4"><a class="white_color" href="{% url 'index' %}">[ 청소당번 ]</a></h4>
                {% else %}
                    <h4 class="text-uppercase mb-4"><a class="white_color" href="{% url 'login' %}">[ 청소당번 ]</a></h4>
                {% endif %}
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                {% if user.is_authenticated %}
                    <h4 class="text-uppercase mb-4"><a class="white_color" href="{% url 'index' %}">[ 공지사항 ]</a></h4>
                {% else %}
                    <h4 class="text-uppercase mb-4"><a class="white_color" href="{% url 'login' %}">[ 공지사항 ]</a></h4>
                {% endif %}
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                {% if user.is_authenticated %}
                    <h4 class="text-uppercase mb-4"><a class="white_color" href="{% url 'index' %}">[ 건의사항 ]</a></h4>
                {% else %}
                    <h4 class="text-uppercase mb-4"><a class="white_color" href="{% url 'login' %}">[ 건의사항 ]</a></h4>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}