{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container my-3 masthead">
        <h1>공지사항</h1>
        <br>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>번호</th><th>제목</th><th>작성자</th><th>작성일</th>
            </tr>
        </thead>                
        <tbody>
        {% if notice_list %}
        {% for notice in notice_list %}
                <tr>
                    <td>{{ notice.id }}</td><td>{{ notice.title }}</td><td>{{ notice.writer }}</td><td>{{ notice.pub_date }}</td>
                </tr>
            {% endfor %}
        {% else %}
        {% endif %}
        </tbody>        
      </table>
        {% if not notice_list %}
            <h3 class="text-center">no notice</h3>
        {% endif %}
    </div>
{% endblock content %}
