{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container my-3 masthead">
        <h1>공지사항</h1>

        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>번호</th><th>제목</th><th>작성자</th><th>작성일</th>
            </tr>
        </thead>        
        <tbody>
            <tr>
                <td>1</td><td>hi</td><td>namjin</td><td>2020.2.27</td>
            </tr>
        </tbody>        
      </table>
    </div>
{% endblock content %}
